__pycache__/Data_process.cpython-39.pyc
__pycache__/Opt_Constants.cpython-39.pyc
__pycache__/Settings.cpython-39.pyc
__pycache__/Opt_Constants.cpython-310.pyc
__pycache__/Opt_Model_V1.cpython-310.pyc
.DS_Store
__pycache__/Data_process.cpython-310.pyc
tempCodeRunnerFile.py
__pycache__/Opt_Model_V1.cpython-39.pyc
